@import "../omarchy/current/theme/waybar.css";
/**/
/* * { */
/*   background-color: @background; */
/*   color: @foreground; */
/**/
/*   border: none; */
/*   border-radius: 0; */
/*   min-height: 0; */
/*   font-family: 'JetBrainsMono Nerd Font'; */
/*   font-size: 12px; */
/* } */
/**/
/* .modules-left { */
/*   margin-left: 8px; */
/* } */
/**/
/* .modules-right { */
/*   margin-right: 8px; */
/* } */
/**/
/* #workspaces button { */
/*   all: initial; */
/*   padding: 0 6px; */
/*   margin: 0 1.5px; */
/*   min-width: 9px; */
/* } */
/**/
/* #workspaces button.empty { */
/*   opacity: 0.5; */
/* } */
/**/
/* #tray, */
/* #cpu, */
/* #battery, */
/* #network, */
/* #bluetooth, */
/* #pulseaudio, */
/* #custom-omarchy, */
/* #custom-screenrecording-indicator, */
/* #custom-update { */
/*   min-width: 12px; */
/*   margin: 0 7.5px; */
/* } */
/**/
/* #custom-expand-icon { */
/*   margin-right: 7px; */
/* } */
/**/
/* tooltip { */
/*   padding: 2px; */
/* } */
/**/
#custom-update {
  font-size: 10px;
}
/**/
/* #clock { */
/*   margin-left: 8.75px; */
/* } */
/**/
.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @background;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @background;
  color: @foreground;
}

#workspaces button.active {
  color: @background;
  background-color: @foreground;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @background;
  background-color: @foreground;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#pulseaudio,
#custom-omarchy,
#memory,
#cpu,
#bluetooth,
#battery,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: @background;
  color: @background;
}

#custom-omarchy {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: @foreground;
}

#memory {
  background-color: #fab387;
}

#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #ffff00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#cpu {
  background-color: #fab387;
}

#tray {
  background-color: @foreground;
}

#pulseaudio,
#bluetooth {
  background-color: #f9e2af;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: @foreground;
}

#custom-power {
  background-color: #f2cdcd;
}

tooltip {
  border-radius: 4px;
  padding: 2px;
  background-color: @background;
}

tooltip label {
  padding: 1px;
  background-color: @background;
}
